.card-container-component {
    box-sizing: border-box;
    display: flex;
    border: 2px;
    width: 100%;
}

.subreddit-container {
    display: inline-flex;
    flex-grow: 3;
    flex-direction: column;
    background-color: #201F2E;
    color: #fffe;
}

.subreddit-row {
    min-height: 60px;
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cards-container {
    display: inline-flex;
    flex-grow: 3;
    flex-direction: column;
    color: #232323;
    width: 100%;
    align-items: center;
    border-color: #201F2E;
}

.subreddit-title {
    margin: 0px;
    padding: 15px 0px 15px 20px;
}

.subreddit-title:hover {
    color: #201f2e;
    background-color: #fffe;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .subreddit-container {
        display: none;
    }
}  